Checks: >
  -*,
  google-*,
  modernize-*,
  bugprone-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  misc-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -google-readability-todo,
  -readability-identifier-length,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-rvalue-reference-param-not-moved,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -google-runtime-int,
  -readability-function-cognitive-complexity,
  -bugprone-easily-swappable-parameters,
  -performance-enum-size,
  -readability-math-missing-parentheses,
  -readability-uppercase-literal-suffix,
  -google-readability-braces-around-statements,
  -readability-braces-around-statements,
  -readability-static-definition-in-anonymous-namespace,
  -cppcoreguidelines-use-enum-class,
  -cppcoreguidelines-prefer-member-initializer,
  -readability-convert-member-functions-to-static
WarningsAsErrors: >
  bugprone-*,
  performance-*,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-auto,
  modernize-use-emplace,
  modernize-loop-convert,
  modernize-make-shared,
  modernize-make-unique,
  google-explicit-constructor,
  readability-redundant-string-cstr,
  readability-container-size-empty,
  misc-unused-using-decls
HeaderFilterRegex: '(include/asr|src|tests)/.*'
FormatStyle: google
